a:link {
color: black;
}
a:visited {
    color: aqua;
}
a:hover {
    color: tomato;
}
a:active {
    color: blue;
}
button:hover {
    background-color: lightgray;
}
button:active {
    color: black;
}